<html>
<head>
    <meta charset="UTF-8" />
</head>
<body style="font-size: 16px;">
<table style="width: 100%;font-size: 12px;">
    <tr>
        <td>Вих. №______</td>
        <td style="width: 100%;">&nbsp;</td>
        <td>На №_________</td>
    </tr>
    <tr>
        <td>від "___" ______ 20___р.</td>
        <td style="width: 100%;">&nbsp;</td>
        <td>від "___" ______ 20___р.</td>
    </tr>
</table>
<p style="font-size: 26px; text-align: center; font-weight: bold;">Рецензія</p>

</body>
</html>