<html>
<head>
    <meta charset="UTF-8" />
</head>
<body style="font-size: 14px;">
<p style="font-size: 20px; text-align: center">4.	ІДЕНТИФІКАЦІЯ ОБ’ЄКТА ТА ПОВ’ЯЗАНИХ З НИМ ПРАВ </p>
<p style="font-size: 16px; font-weight: bold;">Об’єкт оцінки – {s_maino} {name_maino} в кількості {count}-ти інвентарних одиниць.</p>
<p style="font-size: 16px; font-weight: bold;">Власник майна - {name_client}.</p>
<p style="font-size: 16px; font-weight: bold;">Юридична адреса: {adres_yur}.</p>
<p>&nbsp;</p>
<p>Загальні дані щодо ідентифікації оцінюваного обє’кту та пов’язаних із ними прав наведено в  таблиці.</p>
<p>&nbsp;</p>
{list_info_maino}
<p style="font-size: 16px;">Технічна характеристика (інформація подана мовою джерела)</p>
{teh_har}
<p>&nbsp;</p>

<p style="font-size: 18px; text-align: center">4.1.	Характеристика технічного стану  </p>
<p>Загальну характеристику технічного стану та наявної комплектності об’єкту оцінки наведено виходячи з аналізу наданих замовником даних, проведеного оцінювачем його візуального огляду. </p>
<p>Аналізуючи наявні в розпорядженні оцінювача дані, щодо стану було визначено наступне:</p>
<p>???? С/г техніка, що підлягає оцінці, перебуває  в доброму технічному стані та придатна до експлуатації та знаходиться за адресою: Херсонська область, Голопристанський район, с.Чорноморське, вул. Гагаріна, б/н.</p>
<p>&nbsp;</p>
<p style="font-size: 20px; text-align: center">5.	ВИЗНАЧЕННЯ БАЗИ ОЦІНКИ</p>
<p>База оцінки  -  комплекс  методичних  підходів,  методів та оціночних процедур,  що відповідають певному виду вартості майна. Для визначення бази оцінки  враховуються мета оцінки та умови використання її результатів.</p>
<p>Відповідно до положень Національного стандарту  № 1 «Загальні засади оцінки майна та майнових прав», затвердженого Постановою Кабінету Міністрів України №1440 від 10 вересня 2003 року (надалі по тексту Національний стандарт №1) оцінка об’єкта проводиться із застосуванням бази,  що відповідає ринковій вартості або неринковим видам вартості. Вибір бази оцінки передує укладанню договору на проведення оцінки майна та залежить  від  мети,  із  якою проводиться оцінка майна, його особливостей, а також існуючих нормативних вимог.</p>
<p>В даному випадку, згідно умов укладеного договору на проведення робіт з оцінки майна в якості бази оцінки Замовником було визначено ринкову вартість об’єкта. Метою проведення робіт з оцінки майна є використання результатів оцінки для цілей банківської застави. Відповідно до основних положень Національного стандарту  № 1 «Загальні засади оцінки майна та майнових прав», затвердженого Постановою Кабінету Міністрів України №1440 від 10 вересня 2003 року (надалі по тексту Національний стандарт  №1): </p>
<p>«ринкова вартість - вартість, за яку можливе відчуження об’єкта  оцінки на ринку подібного майна на дату оцінки за угодою, укладеною між покупцем і продавцем, після проведення відповідного маркетингу за умови, що кожна із сторін діяла із знанням справи, розсудливо і без примусу.»</p>
<p>Майно, що представлене до оцінки відноситься до сегменту ринку який є достатньо розвиненим для можливості (спроможності) визначення його ринкової вартості. Умови використання результатів оцінки не передбачають будь-які додаткові обмеження або вимоги, що можуть впливати на майбутню економічну вигоду від  використання оцінюваного  майна. Таким чином, виходячи з наведених вище факторів, цілком справедливим в рамках цієї оцінки, в якості бази оцінки об’єкта розглядати – ринкову вартість.</p>
<p>&nbsp;</p>

<p style="font-size: 20px; text-align: center">6.	АНАЛІЗ НАЙБІЛЬШ ЕФЕКТИВНОГО ВИКОРИСТАННЯ</p>
<p>Ринкова вартість об’єкта рухомого майна ґрунтується на принципі найкращого та най¬більш ефективного його використання, а саме, такого використання, що серед інших розумних, можливих та юридично дозволених альтернативних варіантів його використання в результаті призведе до його найвищої вартості.</p>
<p>Принцип найбільш ефективного використання полягає в урахуванні залежності ринкової вартості об'єкта оцінки альтернативних варіантів його використання. Під найбільш ефективним використанням розуміється використання майна, в результаті якого вартість об'єкта оцінки є максимальною. При цьому розглядаються тільки ті варіанти використання майна, які є технічно можливими, дозволеними та економічно доцільними. Аналіз найкращого і найбільш ефективного використання об’єкту базується на наступних чотирьох критеріях.</p>
<ul>
    <li><strong>юридична дозволеність.</strong></li>
    <li><strong>фізична придатність.</strong></li>
    <li><strong>економічна доцільність.</strong></li>
    <li><strong>найбільша прибутковість.</strong></li>
</ul>
<p>Звичайно будь-яке використання об’єкта повинно бути юридично дозволене.В даному випадку, представлене до оцінки майно має  певний заздалегідь юридично визначений варіант використання. Представлений до оцінки об’єкт являє собою с/г техніку, що є його первісно визначеним та цілком юридично дозволеним варіантом використанням. Будь-які інші варіанти використання звичайно будуть передбачати проходження певних експертиз та отримання певних погоджень чи  дозволів та в даному випадку не можуть бути розглянуті на предмет юридичної  дозволенності.</p>
<p>Використання будь-якого майна повинно бути фізично можливим. Звичайно певні варіанти використання майна можуть обмежуватися його фізичними характеристиками. Представлений до оцінки об’єкт має певні фізичні характеристики, які і визначають його фізичну придатність до певного варіанту використання. Отже, існуючі фізичні характеристики цілком визначають його фізичну придатність для використання лише як с/г техніки.</p>
<p>Економічна доцільність використання майна залежить від багатьох факторів, при цьому, насамперед лише попит, що формує ринок через взаємовідносини продавця та покупця є одним з головних чинників можливого використання об’єкта. При аналізі можливих варіантів використання оцінюваного майна повинен бути прийнятий до уваги існуючий на ринку попит на кожний з варіантів та наявність інших варіантів, які і формують пропозицію.</p>
<p>В даному випаду, майно, що представлене до оцінки відноситься до певного сегменту ринку який є достатньо розвиненим. Зазначене відповідним чином  говорить, що використання транспортного засобу за його первісним призначенням є економічно доцільним.</p>
<p>Четвертим критерієм оцінки найбільш ефективного використання об’єкта є його перевірка на максимум прибутку. На цьому етапі серед усіх юридично дозволених, фізично можливих та економічно до¬цільних варіантів використання обирається той, що здатний приносити максимум прибутку його власнику, а відповідно і визначає максимальну вартість самого об’єкту, що оцінюється.</p>
<p>Проводячи аналіз найбільш ефективного використання об’єкта з точки зору його найбільшої прибутковості можна визначити декілька його основних характеристик. Представлене до оцінки майно має певний заздалегідь юридично визначений варіант використання. В даному випадку це є с/г техніка.  Представлений до оцінки об’єкт має певні фізичні характеристики. Існуючі фізичні характеристики цілком визначають його фізичну придатність для використання лише як с/г техніки, що є економічно доцільним.</p>
<p>Проведений аналіз існуючих можливих альтернативних варіантів використання звичайно показує більш високий рівень дохідності при використанні оцінюваного транспортного засобу лише за його первісно визначеним варіантом використання. Отже, існуюче призначення в даному випадку може вважатися найбільш прибутковим. </p>
<p><strong>Таким чином, виходячи з існуючих загальних характеристик об’єктів та проведеного аналізу варіантів фізично можливого, юридично дозволеного та економічно доцільного та найбільш прибуткового, найбільш ефективним використанням  КТЗ є його поточне призначення.</strong></p>


</body>
</html>