<html>
<head>
    <meta charset="UTF-8" />
</head>
<body style="font-size: 14px;">

<p style="font-size: 20px; text-align: center">9.	УЗГОДЖЕННЯ ОТРИМАНИХ РЕЗУЛЬТАТІВ ТА ОБГРУНТУВАННЯ ВИСНОВКУ ПРО ВАРТІСТЬ МАЙНА</p>

<p>Оцінку вартості колісних транспортних засобів було проведено у відповідності із Методикою товарознавчої експертизи та оцінки колісних транспортних засобів, затвердженою наказом Міністерства юстиції України та Фонду державного майна України від 24.11.2003 року №142/5/2092, зареєстрованою в Міністерстві юстиції України 24.11.2003 року за №1074/8395 (у редакції наказу Міністерства юстиції України та Фонду державного майна України від 24.07.2009 року №1335/5/1159) в рамках порівняльного підходу. Загальний висновок щодо ринкової вартості майна підприємства сформовано за результатами визначеними із застосуванням порівняльного підходу.</p>

<p style="font-size: 16px; font-weight: bold; text-align: center">Таким чином, ринкова  вартість об’єкту оцінки – {s_maino} {name_maino} в кількості {count}-ти інвентарних одиниць склала:</p>

<p style="font-size: 16px; font-weight: bold; text-align: center">{rinkovavartist} (без урахування податку на додану вартість)</p>

</body>
</html>