<html>
<head>
    <meta charset="UTF-8" />
</head>
<body style="font-size: 16px;">
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p style="font-size: 26px; text-align: center; font-weight: bold;">З В І Т № {nom_zvit}</p>
<p style="font-size: 26px; text-align: center; font-weight: bold;">ПРО НЕЗАЛЕЖНУ ОЦІНКУ</p>
<p style="font-size: 26px; text-align: center;">{s_maino} {name_maino} в кількості {count}-ти інвентарних одиниць, що належить </p>
<p style="font-size: 16px; text-align: center;">{name_client}. </p>
<p style="font-size: 14px; text-align: center; font-style: italic;">Юридична адреса власника: </p>
<p style="font-size: 14px; text-align: center; font-style: italic;">{adres_yur}</p>
</body>
</html>