<html>
<head>
    <meta charset="UTF-8" />
</head>
<body style="font-size: 14px;">
<p style="font-size: 20px; text-align: center">8.	ЗАГАЛЬНА МЕТОДОЛОГІЯ ВИЗНАЧЕННЯ ВАРТОСТІ ТРАНСПОРТНИХ ЗАСОБІВ</p>

<p>Вартість  КТЗ буде визначено в рамках порівняльного підходу за методом, заснованим на аналізі цін ідентичних КТЗ. Порівняльний підхід ґрунтується на аналізі цін продажу (пропозиції) КТЗ, ідентичних або аналогічних оцінюваному на первинному чи вторинному ринках КТЗ, з відповідним коригуванням, що враховує відмінності між об'єктом порівняння та об'єктом оцінки. Під первинним слід розуміти ринок нових КТЗ, під вторинним - ринок КТЗ, які були в користуванні.</p>
<p>Для визначення вартості за порівняльним підходом використовуються статистично усереднені цінові дані КТЗ, які були відчужені в Україні, за умов, що вони відповідають змісту поняття "ринкова вартість", зокрема ґрунтуються на даних ринку КТЗ і зведені в довідниках, до яких висуваються вимоги щодо науковості, об'єктивності, об'ємності інформації.</p>
<p>Найбільш вірогідним методом порівняльного підходу до оцінки КТЗ є метод, заснований на аналізі цін ідентичних КТЗ. За цим методом вартість визначається на базі середньої ціни продажу (пропозиції) ідентичного КТЗ з відповідним строком експлуатації. Подальше коригування враховує різницю між пробігом, комплектністю, укомплектованістю, технічним станом об'єкта порівняння та об'єкта оцінки.</p>
<p>У разі неможливості визначення вартості КТЗ з урахуванням цін ідентичних КТЗ допускається використання методу, заснованого на аналізі цін аналогічних транспортних засобів. За цим методом вартість КТЗ визначається відповідно до цінових даних, аналогічних, але не ідентичних КТЗ, з належним або скоригованим строком експлуатації. Подальше коригування вартості здійснюється шляхом врахування різниці між пробігом, комплектністю, укомплектованістю, технічним станом об'єкта порівняння та об'єкта оцінки.</p>
<p>Коригування, які застосовуються в порівняльному підході, приймаються у вигляді коефіцієнта (відсотка) до середньої ціни КТЗ або у вигляді грошової суми, що додається або вираховується з  ціни, а також комбінування зазначених засобів.</p>
<p>Коригування вартості КТЗ з причин різниці в пробігу здійснюється коефіцієнтом коригування ринкової вартості КТЗ за наступними факторами:</p>
<ul>
    <li>за величиною пробігу;</li>
    <li>з причин різниці технічного стану - процентом додаткового збільшення (зменшення) ринкової вартості КТЗ залежно від умов догляду, зберігання, використання та ін.;</li>
    <li>з причин функціонального зносу КТЗ - коефіцієнтом функціонального зносу;</li>
    <li>з причин особливостей економічного стану в різних регіонах України і різних країнах світу - коефіцієнтом ринку регіону та коефіцієнтом коригування вартості КТЗ у країні придбання до його вартості в провідних країнах-експортерах.</li>
</ul>
<p>Вартість КТЗ коригується відповідною грошовою сумою, яка враховує його комплектність, укомплектованість, наявність пошкоджень, які потребують відновлювального ремонту, відновлення і (чи) оновлення складників.</p>
<p>Для визначення вартості обладнання (з урахуванням ремонтних робіт з його монтажу) спеціальних, спеціалізованих та переобладнаних КТЗ допускається використання методу мультиплікаторів. За цим методом вартість визначається на базі розрахунку співвідношень вартостей встановленого обладнання аналогічних транспортних засобів з величиною визначального технічного параметра, який обумовлює вартість спеціального або спеціалізованого КТЗ (вантажність, потужність тощо).</p>
<p>Для визначення вартості складників КТЗ у разі відсутності цінової інформації дилера виробника КТЗ допускається використання відповідних даних, одержаних шляхом обстеження ринку регіону.</p>
<p>Для оцінки спеціальних, спеціалізованих КТЗ у разі неможливості застосування порівняльного підходу застосовується комбінований витратно-порівняльний підхід, заснований на використанні інформації про вартість базового КТЗ з додаванням вартості спеціального або спеціалізованого обладнання та з урахуванням вартості робіт з його монтажу. Комбінований витратно-порівняльний підхід застосовується для визначення вартості КТЗ, що мають пошкодження чи розукомплектовані.</p>
<p>У разі оцінки КТЗ, вироблених штучно, їх вартість визначається на базі калькуляції витрат на виготовлення КТЗ з подальшим коригуванням із застосуванням порівняльного підходу. </p>
<p>Фізичний знос обумовлюється погіршенням технічного стану КТЗ унаслідок експлуатаційного зносу його складників. Фізичний знос ураховується як втрата вартості КТЗ, що виникає в процесі його експлуатації.</p>
<p>Фізичний знос може розраховуватись у вигляді коефіцієнта фізичного зносу складників залежно від технічного стану КТЗ, який відображає взаємозв'язок умов експлуатації і технічного стану КТЗ з вартістю його складників.</p>
<p>Фізичний знос може також визначатись шляхом урахування погіршення технічного стану КТЗ унаслідок отриманих і усунених пошкоджень залежно від вартості їх усунення. Фізичний знос несправного КТЗ (його складників) чи такого, який був у користуванні, підлягає усуненню за умов технологічної можливості та економічної доцільності їх відновлення, що враховується під час оцінки.</p>
<p>Заміна складових частин КТЗ призначається у разі, якщо їх фізичний знос не може бути усунений. Функціональний знос КТЗ визначається за допомогою коефіцієнта функціонального зносу, який характеризує ступінь зниження рівня функціональних, споживчих характеристик оцінюваного КТЗ відносно аналогічного, що випускається на дату виконання оцінки.</p>
<p>Коефіцієнтом ринку регіону враховується рівень цін продажу та поточних цін пропозиції продажу в даному регіоні відносно цін з довідкової літератури.</p>
<p>Коефіцієнт зведення вартості КТЗ в країні придбання до його вартості у провідних країнах-експортерах ураховує рівень цін продажу (пропозиції) у країні придбання до його середньої ціни у провідних країнах-експортерах.</p>
<p>Коригування ринкової вартості КТЗ, отриманої із застосуванням порівняльного підходу, буде здійснено за  наведеною нижче формулою:</p>
<p>/img/formula.png</p>
<p>С - ринкова вартість, ГРН;</p>
<p>Сср - середня ринкова ціна КТЗ, ГРН;</p>
<p>Гк - коефіцієнт коригування ринкової вартості КТЗ за величиною пробігу, %;</p>
<p>Дз - процент додаткового збільшення (зменшення) ринкової вартості КТЗ, який визначається відповідно до таблиці 4.1 додатка 4 до Методики та залежить від умов догляду, зберігання, експлуатації тощо, %;</p>
<p>Сдод - додаткове збільшення (зменшення) ринкової вартості КТЗ виходячи з його комплектності, укомплектованості, пошкоджень, відновлення і оновлення складників, грн.</p>
<p>&nbsp;</p>
<p style="font-size: 20px; text-align: center">8.1.	Визначення показника середньої ринкової ціни транспортних засобів </p>

<p>Середня ринкова ціна колісних транспортних засобів (КТЗ) - величина, яка визначається статистичними методами, еквівалентна найбільш вірогідній вартості продажу (пропозиції до продажу), сукупності КТЗ визначеної моделі з відповідними строком експлуатації і пробігом на визначений момент часу, у конкретному регіоні чи місцевості з дотриманням вимог, що відповідають поняттю "ринкова вартість". </p>
<p>Визначення Сср базується на довідкових цінових даних продажу на ідентичне (аналогічне) КТЗ. Сср для КТЗ визначається на базі середньої ціни продажу (пропозиції) ідентичного КТЗ за такою формулою:</p>
<p>СД - ціна КТЗ, який був у користуванні, з урахуванням строку його експлуатації, за інформацією з довідкової літератури, зокрема наведеної у переліку рекомендованих нормативно-правових актів, методичної, довідкової літератури та комп'ютерних баз даних з програмним забезпеченням (додаток 8 до Методики). Якщо в довідковій літературі наводяться ціни продажу і ціни пропозиції, то згідно з принципом заміщення значення СД повинно дорівнювати ціні продажу КТЗ. </p>
<p>Підбір аналога буде проведено за нижченаведеними факторами:</p>
<ul>
    <li>−	автомобілі вантажні, тягачі: тип кузова (загального призначення чи спеціалізований), вантажність, колісна формула, розташування кабіни і двигуна відносно осей, тип двигуна (бензиновий, дизельний тощо), потужність двигуна, робочий об'єм двигуна, габаритні розміри, комплектність, рік виготовлення;</li>
    <li>−	причепи, напівпричепи: тип кузова за призначенням, вантажність (пасажировмісність), колісна формула, повна маса, корисний об'єм кузова, наявність тенту, матеріал виготовлення кузовних елементів, габаритні розміри, рік виготовлення;</li>
    <li>−	автомобілі легкові, автомобілі легкові позадорожні: тип кузова (седан, універсал тощо), призначення (дорожні, позадорожні), тип двигуна (бензиновий, дизельний тощо), робочий об'єм двигуна, привод тягових коліс (передньоприводні, задньоприводні, повноприводні), тип коробки передач, габаритні розміри, комплектність, кількість дверей, рік виготовлення;</li>
    <li>−	автобуси: призначення (міські, приміські, міжміські та інші за даними виробника), пасажировмісність, довжина, тип двигуна (бензиновий, дизельний тощо), потужність двигуна, робочий об'єм двигуна, комплектність, рік виготовлення;</li>
</ul>
<p>Для підбору аналога перевагу буде надано транспортним засобам того самого виробника (країни-виробника). Рік виготовлення аналога повинен відрізнятися від року виготовлення оцінюваного КТЗ не більше ніж на 5 років. Аналог буде вважатися підібраним, якщо відхилення факторів за кожною порівнюваною характеристикою, яка має числовий вираз, не перевищуватиме ± 5 %. Інші функціональні характеристики повинні збігатися.</p>
<p>Якщо відхилення поодиноких факторів за порівнюваними характеристиками, які мають числове вираження, буде перевищувати ± 5 %, довідкова ціна буде прийнята як середнє арифметичне значення декількох найбільш близьких аналогів.</p>
<p>У разі наявності довідкових цін на КТЗ, що оцінюються, окрім ціни, що відповідає року його виготовлення, а також відсутності даних про його ціну як нового КТЗ, будуть використані відповідні наявні дані щодо аналогічного КТЗ, підібраного відповідно до вимог підпунктів 7.12.1, 7.12.2 пункту 7.12  Методики. У цьому випадку значення Сд для КТЗ, що оцінюється, буде  отримано із співвідношення:</p>
<p>formula3</p>
<p> - довідкова ціна КТЗ тієї самої модифікації, що і оцінюваного, з роком виготовлення, максимально наближеним до року виготовлення оцінюваного КТЗ</p>
<p>  - довідкова ціна аналогічного КТЗ відповідного року виготовлення;</p>
<p>СДА - довідкова ціна аналогічного КТЗ того самого року виготовлення, що й оцінюваний.</p>
<p>У разі відсутності даних щодо ціни нового КТЗ, неможливості її отримання у спосіб, передбачений у пункті 7.35 Методики, значення Цн буде визначеноя із співвідношення:</p>
<p>Цн' - ціна нового КТЗ, що оцінюється, у країні придбання чи провідній країні-експортері;</p>
<p>Цна' - ціна нового аналогічного КТЗ, підібраного відповідно до вимог підпунктів 7.12.1, 7.12.2 пункту 7.12 Методики, у країні придбання чи провідній країні-експортері;</p>
<p>Цн, Цна - ціна в Україні нового КТЗ, що оцінюється, та аналогічного.</p>
<p>Порядок визначення показників СД (цін КТЗ), з  урахування джерел даних які було використано  при їх визначенні відповідно до рекомендованих нормативно-правових актів, методичної, довідкової літератури та комп'ютерних баз даних з програмним забезпеченням (додаток 8 до Методики) наведено в додатках до Звіту.  </p>
<p>К - коефіцієнт ринку регіону, який враховує відмінність поточних цін продажу та пропозиції до продажу у відповідному регіоні від цін з довідкової літератури. Значення коефіцієнта ринку регіону зазначається згідно з таблицею 3.2 додатка 3 до Методики. Значення коефіцієнта К ринку регіону наведено в таблиці.</p>
<table style="width: 100%; border: 1px #000 double; text-align: center; vertical-align: middle">
    <tr>
        <td>Регіон</td>
        <td>Значення коефіцієнта </td>
    </tr>
    <tr>
        <td>Адміністративні райони і районні центри з низькою інвестиційною привабливістю </td>
        <td>0,97 </td>
    </tr>
    <tr>
        <td>Обласні центри, районні центри з високою інвестиційною привабливістю </td>
        <td>1,03 </td>
    </tr>
    <tr>
        <td>Інші райони </td>
        <td>1,0 </td>
    </tr>
</table>
<p><strong>Примітки:</strong></p>
<p>1. Відповідно до конкретної моделі КТЗ значення К може відрізнятися від наведених значень.</p>
<p>2. Для КТЗ зі строком експлуатації до 1 року значення К не перевищує 1,0.</p>
<p>М - вартісний еквівалент суми податків, зборів, інших обов'язкових платежів під час митного оформлення згідно з чинним законодавством. Вартісний еквівалент суми податків, зборів, інших обов'язкових платежів під час митного оформлення М не враховується у разі прийняття ціни КТЗ з вітчизняної довідкової літератури або за цінами дилерів заводів-виробників України. Значення М розраховується таким самим чином, як і податки, збори, інші обов'язкові платежі під час митного оформлення, згідно з чинним законодавством України.</p>
<p>Для визначення вартості КТЗ, його складників, а також для складання калькуляції відновлювального ремонту у виняткових випадках (за відсутності необхідних довідкових даних) допускається використання відповідних вартісних даних аналогічних КТЗ. </p>

</body>
</html>