<html>
<head>
    <meta charset="UTF-8" />
</head>
<body style="font-size: 14px;">
<p style="font-size: 20px; text-align: center">3.	ЗАГАЛЬНІ ПРИНЦИПИ ОЦІНКИ МАЙНА </p>
<p><strong>Оцінка майна та майнових прав має здійснюватися на підставі дотримання основних принципів:</strong></p>
<ul>
    <li>принципу корисності;</li>
    <li>принципу попиту і пропозиції;</li>
    <li>принципу заміщення;</li>
    <li>принципу очікування;</li>
    <li>принципу внеску (граничної продуктивності);</li>
    <li>принципу найбільш ефективного використання.</li>
</ul>
<p>Загальним для всіх цих принципів є їх явний або неявний вплив на міру корисності і продуктивності майна. Корисність майна відображає сумарну дію всіх ринкових чинників, що впливають на вартість.</p>
<p><strong>Принцип корисності</strong> ґрунтується на тому факті, що майно має вартість тільки у випадках, якщо воно корисне потенційному власнику (користувачу) і необхідне йому для реалізації певної економічної функції. Під корисністю розуміється здатність майна задовольняти потреби користувача в даному місці його розташування, протягом даного періоду часу та за даних соціально-економічних умов.</p>
<p><strong>Принцип попиту і пропозиції</strong>  полягає в тому, що вартість об'єкта визначається взаємодією між пропозицією (кількістю об'єктів, що пропонуються за визначеними цінами) та попитом (кількістю об'єктів, що можуть бути придбаними на ринку за визначеними цінами). </p>
<p><strong>Принцип заміщення</strong>  полягає в тому, що покупець, який діє розсудливо та компетентно на відкритому та конкурентному ринку, не сплатить за майно суму більшу мінімальної ціни об'єктів аналогічної корисності, що продаються на ринку.</p>
<p><strong>Принцип очікування</strong>  передбачає, що вартість майна визначається розміром майбутніх вигод, що очікуються від володіння, користування та розпорядження цим майном,  включаючи  дохід від його можливого перепродажу та інших вигод.</p>
<p><strong>Принцип внеску (граничної продуктивності)</strong>  передбачає врахування впливу на вартість об‘єкта оцінки таких факторів, як праця, управління, капітал та земля, що є пропорційним їх внеску у загальний дохід. Вплив окремого фактора вимірюється як частка вартості об‘єкта оцінки або як частка вартості, на яку загальна вартість об‘єкта оцінки зменшиться у разі його відсутності.</p>
<p><strong>Принцип найбільш ефективного використання</strong>  полягає в тому, що ринкова вартість майна визначається його найбільш ефективним використанням. При цьому, під найбільш ефективним використанням розуміється розумно виправдане найбільш ймовірне використання майна, що є фізично можливим, належним чином обґрунтованим, юридично дозволеним та фінансово доцільним, в результаті якого вартість майна буде максимальною у порівнянні з вартістю, яка виходить з інших можливих варіантів його використання.</p>
</body>
</html>