<html>
<head>
    <meta charset="UTF-8" />
</head>
<body style="font-size: 14px;">
<p style="font-size: 20px; text-align: center">8.5.	Розрахунок ринкової вартості об’єктів оцінки</p>

{rez_sum_tab}

<p style="font-size: 16px; font-weight: bold; text-align: center">Таким чином, ринкова  вартість об’єкту оцінки – {s_maino} {name_maino} в кількості {count}-ти інвентарних одиниць склала:</p>

<p style="font-size: 16px; font-weight: bold; text-align: center">{rinkovavartist} (без урахування податку на додану вартість)</p>

</body>
</html>