<html>
<head>
    <meta charset="UTF-8" />
</head>
<body style="font-size: 14px;">

<p style="font-size: 20px; text-align: center">11.	 ЗАЯВА ОЦІНЮВАЧА</p>

<p>Оцінювач, що виконав цей Звіт про оцінку майна оцінку засвідчує про наступне:</p>
<p>-	виконаний оцінювачем аналіз, висловлені думки і отримані висновки дійсні виключно в межах обумовлених в даному Звіті припущень і обмежуючих умов та є персональною неупередженою думкою оцінювача;</p>
<p>-	оцінювач не має будь-яких додаткових зобов’язання (окрім зобов’язань по  укладеному Договору) по відношенню до будь-якої із сторін, пов’язаних з об’єктом оцінки;</p>
<p>-	оцінювач не має поточної зацікавленості в об’єкті оцінки, яка відсутня і в майбутньому або будь-якої упередженості при його оцінці, або відносно сторін, що мають до нього  відношення.
    /p>
<p>-	оцінювачем було здійснено персональний огляд об’єкта; </p>
<p>-	оплата послуг оцінювача жодним чином не пов'язана із визначеною величиною вартості об’єкта, або у визначенні вартості об’єкта  на будь-чию користь чи із досягненням заздалегідь обумовленого результату;</p>
<p>-	оцінювач засвідчує, що складений Звіт відповідає положенням Закону України «Про оцінку майна, майнових прав та професійну оціночну діяльність в Україні» та вимогами Національного стандарту №1 «Загальні засади оцінки майна та майнових прав», затвердженого  Постановою Кабінету Міністрів України № 1440 від 10 вересня 2003 року.</p>
<p>-	роботи по оцінці об’єкта проведені у відповідності до норм Кодексу професійної етики Українського товариства оцінювачів, затвердженого Протоколом Ради УТО № 46 вiд 12 грудня  2004 року. </p>
<p>&nbsp;</p>
<table style="width: 100%">
    <tr>
        <td style="text-align: left"><strong>Оцінювач</strong></td>
        <td style="text-align: right"><strong>{writer_fio}</strong></td>
    </tr>
    <tr>
        <td colspan="2">{writer_certif}</td>
    </tr>
</table>


</body>
</html>