<html>
<head>
    <meta charset="UTF-8" />
</head>
<body style="font-size: 16px;">
<p>В тому числі:</p>
<table style="width: 100%; border: 1px #000 solid; text-align: center; vertical-align: middle">
    <thead>
        <tr style="text-align: center; font-weight: bold; vertical-align: middle">
            <th>№ зп</th>
            <th>Найменування / Марка</th>
            <th>Заводський номер</th>
            <th>Рік випуску</th>
            <th>Ринкова вартість, грн. (без ПДВ)</th>
        </tr>
    </thead>
    <tbody>
        {tablemaino}
    </tbody>
</table>
<p>Визначена вартість об'єктів оцінки є незалежним судженням Оцінювачів. Розгорнутий аналіз і розрахунки вартості об'єкта оцінки представлені у Звіті про оцінку. Окремі частини Звіту не можуть трактуватись відособлено, а тільки у зв'язку з повним його текстом і з урахуванням всіх зроблених припущень та обмежуючих умов.</p>
<p>&nbsp;</p>
<table style="width: 100%">
    <tr>
        <td style="text-align: left"><strong>{director}</strong></td>
        <td style="text-align: right"><strong>{director_fio}</strong></td>
    </tr>
</table>
<p>&nbsp;</p>
<table style="width: 100%">
    <tr>
        <td style="text-align: left"><strong>Оцінювач</strong></td>
        <td style="text-align: right"><strong>{writer_fio}</strong></td>
    </tr>
    <tr>
        <td colspan="2">{writer_certif}</td>
    </tr>
</table>
</body>
</html>