<html>
<head>
    <meta charset="UTF-8" />
</head>
<body style="font-size: 16px;">
<p style="font-size: 16px; text-align: center; font-weight: bold;">ВИСНОВОК ПРО ВАРТІСТЬ ОБ’ЄКТА ОЦІНКИ</p>
<p style="font-size: 16px;">Суб’єкт оціночної діяльності {firma_name} діє на підставі статуту та сертифікату суб’єкта оціночної діяльності {svidot_nomer}, який було видано {svidot_organ} {svidot_date}, а також на підставі договору про незалежну оцінку  №{nom_dog} укладеного з {name_client}.</p>
<p style="font-size: 16px; font-style: italic;">Оцінка проведена із застосуванням порівняльного методичного підходу у відповідності до вимог Національного стандарту №1 «Загальні засади оцінки майна і майнових прав», затвердженого постановою Кабінету Міністрів України від 10 вересня 2003р. №1440,  «Методики товарознавчої експертизи та оцінки колісних транспортних засобів, затверджена наказом Міністерства юстиції України, Фонду державного майна України №142/5/2092 від 24 листопада 2003 р..</p>
<p style="font-size: 16px;">В результаті розрахунків Оцінювач дійшов висновку щодо ринкової вартості об’єкта оцінки, розрахованого за порівняльним підходом.</p>

<p style="font-size: 16px; font-weight: bold;">Об’єкт оцінки – {s_maino} {name_maino} в кількості {count}-ти інвентарних одиниць.</p>
<p style="font-size: 16px; font-weight: bold;">Власник майна - {name_client}.</p>
<p style="font-size: 16px; font-weight: bold;">Юридична адреса: {adres_yur}.</p>
<p style="font-size: 16px;"><strong>Мета та призначення проведеної роботи по оцінці</strong> - {meta}, який виступає забезпеченням за {vidygodi} в {bank}.</p>
<p style="font-size: 16px; font-weight: bold;">Дата оцінки – {datework}</p>
<p style="font-size: 16px; font-weight: bold;">Вид вартості – ринкова вартість.</p>
<p>&nbsp;</p>
<p>На основі даних наданих Замовником, які були прийняті як достовірні, вивчення технічної документації, аналізу ринку з урахуванням загальних положень та обмежуючих умов із застосуванням нормативів, стандартів та методик, затверджених законодавством України, вартість об’єкта оцінки відповідає наступним значенням:</p>
<p>&nbsp;</p>
<p style="font-size: 16px; font-weight: bold">Ринкова вартість:</p>
<p style="font-size: 16px; font-weight: bold; text-align: center">{rinkovavartist} (без урахування податку на додану вартість)</p>

</body>
</html>