<html>
<head>
    <meta charset="UTF-8" />
</head>
<body style="font-size: 14px;">
<p style="font-size: 20px; text-align: center">8.2.	Розрахунок показника середньої ринкової ціни на с/г техніку</p>

{analog_table}

<p style="font-size: 20px; text-align: center">8.3.	Визначення коефіцієнтів коригування ринкової вартості КТЗ за величиною пробігу</p>

<p>Коефіцієнт коригування ринкової вартості КТЗ за величиною пробігу Гк ураховує відмінності між фактичним середньорічним та нормативним середньорічним пробігом оцінюваного КТЗ. Значення Гк приймається за рекомендаціями, наведеними в довіднику, за даними якого обчислюється вартість відповідного КТЗ, а у випадку, передбаченому пунктом 7.8, - з відповідної таблиці додатка 5 Методики товарознавчої експертизи та оцінки колісних транспортних засобів.</p>

<p>Показник Гк не застосовується для причепів, напівпричепів, спеціальних КТЗ, будівельної та сільськогосподарської техніки. Якщо в досліджуваного КТЗ пробіг за даними довідкової літератури чи таблиць додатка 5 більше ніж на 50 тисяч км відрізняється від показань технічно справного п'ятизначного одометра, то для подальшого коригування використовується розрахунковий пробіг.</p>
<p>Розрахунковий пробіг визначається як добуток середньорічного нормативного пробігу та строку експлуатації з подальшим коригуванням згідно з показаннями одометра шляхом додавання належної кількості сотень тисяч кілометрів виходячи з того, що різниця між розрахунковим пробігом та добутком між середньорічним нормативним пробігом і строком експлуатації не повинна перевищувати 50 тис. км. У разі якщо одометр технічно несправний або встановлено факт його заміни чи втручання, що призвело до зміни показань пробігу КТЗ, у подальших розрахунках слід виходити з нормативного пробігу з врахуванням строку експлуатації оцінюваного КТЗ.</p>
<p>В даному випадку показник коефіцієнту коригування ринкової вартості КТЗ за величиною пробігу не застосовуються, оскільки об’єктом оцінки є сільськогосподарська техніка.</p>

</body>
</html>