<html>
<head>
    <meta charset="UTF-8" />
</head>
<body style="font-size: 14px;">
<p style="font-size: 18px; text-align: center">ЗМІСТ</p>
<ol>
    <li>ВИЗНАЧЕННЯ ЗАВДАННЯ НА ОЦІНКУ</li>
    <ol style="list-style: none">
        <li>1.1.	ЗАГАЛЬНІ ВІДОМОСТІ</li>
        <li>1.2.	ВИКОРИСТАНІ ОСНОВНІ СТАНДАРТИ ТА ПОЛОЖЕННЯ НЕЗАЛЕЖНОЇ ОЦІНКИ</li>
        <li>1.3.	ГРОШОВА ОДИНИЦЯ ОЦІНКИ</li>
        <li>1.4.	ВІДОБРАЖЕННЯ СУМИ ПОДАТКУ НА ДОДАНУ ВАРТІСТЬ</li>
        <li>1.5.	ПРИПУЩЕННЯ ТА ОБМЕЖУВАЛЬНІ УМОВИ</li>
    </ol>
    <li>ДЕФІНІЦІЇ</li>
    <li>ЗАГАЛЬНІ ПРИНЦИПИ ОЦІНКИ МАЙНА</li>
    <li>ІДЕНТИФІКАЦІЯ ОБ’ЄКТА ТА ПОВ’ЯЗАНИХ З НИМ ПРАВ</li>
    <ol>
        <li>4.1.	ХАРАКТЕРИСТИКА ТЕХНІЧНОГО СТАНУ</li>
    </ol>
    <li>ВИЗНАЧЕННЯ БАЗИ ОЦІНКИ</li>
    <li>АНАЛІЗ НАЙБІЛЬШ ЕФЕКТИВНОГО ВИКОРИСТАННЯ</li>
    <li>ЗАГАЛЬНА МЕТОДОЛОГІЯ ТА ВИБІР МЕТОДИЧНОГО ПІДХОДУ ДО ОЦІНКИ ТРАНСПОРТНОГО ЗАСОБУ</li>
    <li>ЗАГАЛЬНА МЕТОДОЛОГІЯ ВИЗНАЧЕННЯ ВАРТОСТІ ТРАНСПОРТНИХ ЗАСОБІВ</li>
    <ol>
        <li>8.1.	ВИЗНАЧЕННЯ ПОКАЗНИКА СЕРЕДНЬОЇ РИНКОВОЇ ЦІНИ ТРАНСПОРТНИХ ЗАСОБІВ</li>
        <li>8.2.	РОЗРАХУНОК ПОКАЗНИКА СЕРЕДНЬОЇ РИНКОВОЇ ЦІНИ НА С/Г ТЕХНІКУ</li>
        <li>8.3.	ВИЗНАЧЕННЯ КОЕФІЦІЄНТІВ КОРИГУВАННЯ РИНКОВОЇ ВАРТОСТІ КТЗ ЗА ВЕЛИЧИНОЮ ПРОБІГУ</li>
        <li>8.4.	ВИЗНАЧЕННЯ ПРОЦЕНТІВ ДОДАТКОВОГО ЗБІЛЬШЕННЯ (ЗМЕНШЕННЯ) РИНКОВОЇ ВАРТОСТІ КТЗ, ЩО ЗАЛЕЖИТЬ ВІД УМОВ ДОГЛЯДУ, ЗБЕРІГАННЯ, ЕКСПЛУАТАЦІЇ</li>
        <li>8.5.	РОЗРАХУНОК РИНКОВОЇ ВАРТОСТІ ОБ’ЄКТІВ ОЦІНКИ</li>
    </ol>
    <li>УЗГОДЖЕННЯ ОТРИМАНИХ РЕЗУЛЬТАТІВ ТА ОБГРУНТУВАННЯ ВИСНОВКУ ПРО ВАРТІСТЬ МАЙНА</li>
    <li>ВИЗНАЧЕННЯ ЛІКВІДАЦІЙНОЇ ВАРТОСТІ МАЙНА В УМОВАХ ЙОГО  ВИМУШЕНОГО ПРОДАЖУ</li>
    <ol>
        <li>10.1.	ЗАГАЛЬНА МЕТОДОЛОГІЯ ВИЗНАЧЕННЯ ЛІКВІДАЦІЙНОЇ ВАРТОСТІ МАЙНА</li>
        <li>10.2.	РОЗРАХУНОК ЛІКВІДАЦІЙНОЇ ВАРТОСТІ В УМОВАХ ВИМУШЕНОГО ПРОДАЖУ ОБ’ЄКТА</li>
    </ol>
    <li>ЗАЯВА ОЦІНЮВАЧА</li>
    <li>НОРМАТИВНО-ЗАКОНОДАВЧІ ДОКУМЕНТИ ТА ВИКОРИСТАНА ЛІТЕРАТУРА</li>
    <li>Д О Д А Т К И</li>
</ol>

</body>
</html>