<html>
<head>
    <meta charset="UTF-8" />
</head>
<body style="font-size: 14px;">
<p style="font-size: 20px; text-align: center">2.	ДЕФІНІЦІЇ</p>

<p>Поняття, що вживаються у цьому Звіті, використовуються в інших національних стандартах у значенні, встановленому цим Стандартом, зокрема:</p>
<p><strong>база оцінки</strong> - комплекс методичних підходів, методів та оціночних процедур, що відповідають певному виду вартості майна. Для визначення бази оцінки враховуються мета оцінки та умови використання її результатів;</p>
<p><strong>методичні підходи</strong> - загальні способи визначення вартості майна, які ґрунтуються на основних принципах оцінки;</p>
<p><strong>метод оцінки</strong> - спосіб визначення вартості об'єкта оцінки, послідовність оціночних процедур якого дає змогу реалізувати певний методичний підхід;</p>
<p><strong>оціночні процедури</strong> - дії (етапи), виконання яких у певній послідовності дає можливість провести оцінку;</p>
<p><strong>принципи оцінки</strong> - покладені в основу методичних підходів основні правила оцінки майна, які відображають соціально-економічні фактори та закономірності формування вартості майна;</p>
<p><strong>об'єкти оцінки</strong> - майно та майнові права, які підлягають оцінці. Об'єкти оцінки класифікують за різними ознаками, зокрема, об'єкти оцінки в матеріальній та нематеріальній формі, у формі цілісного майнового комплексу;</p>
<p><strong>об'єкти оцінки у матеріальній формі</strong> - нерухоме майно (нерухомість) та рухоме майно;</p>
<p><strong>рухоме майно</strong> - матеріальні об'єкти, які можуть бути переміщеними без заподіяння їм шкоди. До рухомого майна належить майно у матеріальній формі, яке не є нерухомістю;</p>
<p><strong>подібне майно</strong> - майно, що за своїми характеристиками та (або) властивостями подібне до об'єкта оцінки і має таку саму інвестиційну привабливість;</p>
<p><strong>стандартизоване майно</strong> - майно, що, як правило, не буває самостійним об'єктом продажу на ринку і має найбільшу корисність та цінність у складі цілісного майнового комплексу;</p>
<p><strong>надлишкове майно</strong> - майно, що не використовується у господарській діяльності підприємства і максимальна цінність якого досягається внаслідок відчуження;</p>
<p><strong>знос (знецінення)</strong> - втрата вартості майна порівняно з вартістю нового майна. Знос за ознаками його виникнення поділяють на фізичний, функціональний та економічний (зовнішній). Фізичний та функціональний знос може бути таким, що технічно усувається, і таким, що не усувається, або усунення його є економічно недоцільним;</p>
<p><strong>фізичний знос</strong> - знос, зумовлений частковою або повною втратою первісних технічних та технологічних якостей об'єкта оцінки;</p>
<p><strong>функціональний знос</strong> - знос, зумовлений частковою або повною втратою первісних функціональних (споживчих) характеристик об'єкта оцінки;</p>
<p><strong>економічний (зовнішній) знос</strong> - знос, зумовлений впливом соціально-економічних, екологічних та інших факторів на об'єкт оцінки;</p>
<p><strong>дата оцінки</strong> - дата (число, місяць та рік), на яку проводиться оцінка майна та визначається його вартість;</p>
<p><strong>вихідні дані</strong> - документи, в яких містяться характеристики об'єкта оцінки;</p>
<p><strong>ідентифікація об'єкта оцінки та пов'язаних з ним прав</strong> - встановлення відповідності об'єкта оцінки наявним вихідним даним та інформації про нього;</p>
<p><strong>вартість</strong> - еквівалент цінності об'єкта оцінки, виражений у ймовірній сумі грошей;</p>
<p><strong>ймовірна сума грошей</strong> - найбільша сума грошей, яку може отримати продавець та може погодитися сплатити покупець;</p>
<p><strong>поточна вартість</strong> - вартість, приведена у відповідність із цінами на дату оцінки шляхом дисконтування або використання фактичних цін на дату оцінки;</p>
<p><strong>ціна</strong> - фактична сума грошей, сплачена за об'єкт оцінки або подібне майно;</p>
<p><strong>ринкова вартість</strong> - вартість, за яку можливе відчуження об'єкта оцінки на ринку подібного майна на дату оцінки за угодою, укладеною між покупцем та продавцем, після проведення відповідного маркетингу за умови, що кожна із сторін діяла із знанням справи, розсудливо і без примусу;</p>
<p><strong>строк експозиції</strong> - строк, протягом якого об'єкт оцінки може бути виставлений для продажу на ринку з метою забезпечення його відчуження за найвищою ціною і тривалість якого залежить від співвідношення попиту та пропонування на подібне майно, кількості потенційних покупців, їх купівельної спроможності та інших факторів;</p>
<p><strong>подібна угода</strong> - цивільно-правова угода, предметом якої є подібне майно і яка має спільні ознаки з угодою, для укладення якої проводиться оцінка;</p>
<p><strong>вартість заміщення</strong> - визначена на дату оцінки поточна вартість витрат на створення (придбання) нового об'єкта, подібного до об'єкта оцінки, який може бути йому рівноцінною заміною;</p>
<p><strong>вартість відтворення</strong> - визначена на дату оцінки поточна вартість витрат на створення (придбання) в сучасних умовах нового об'єкта, який є ідентичним об'єкту оцінки;</p>
<p><strong>залишкова вартість заміщення (відтворення)</strong> - вартість заміщення (відтворення) об'єкта оцінки за вирахуванням усіх видів зносу (для нерухомого майна - з урахуванням ринкової вартості земельної ділянки при її існуючому використанні (прав, пов'язаних із земельною ділянкою);</p>
<p><strong>вартість у використанні</strong> - вартість, яка розраховується виходячи із сучасних умов використання об'єкта оцінки і може не відповідати його найбільш ефективному використанню;</p>
<p><strong>оціночна вартість</strong> - вартість, яка визначається за встановленими алгоритмом та складом вихідних даних.</p>
<p><strong>машини та устаткування</strong> – верстати, установки, апарати, прилади, пристрої, механізми, технологічні лінії та інше майно, яке не відноситься до нерухомості. Машини та устаткування по функціональному призначенню поділяються на наступні групи.</p>
<p><strong>силові машини й устаткування</strong> - призначені для вироблення електричної і теплової енергії і для перетворення різноманітного роду енергії у механічну, тобто в енергію руху.</p>
<p><strong>робочі машини й устаткування</strong> - призначені для механічного, термічного і хімічного впливу на предмети праці і для їх переміщення у виробничому процесі.</p>
<p><strong>енергетичне устаткування</strong> - складається з енергогенеруючих, передавальних, перетворюючих і споживаючих пристроїв.</p>
<p><strong>підйомно-транспортне устаткування</strong> - забезпечує вертикальне і горизонтальне переміщення матеріалів, напівфабрикатів і готових виробів.</p>
<p><strong>слабкострумове електричне устаткування</strong> - призначене для забезпечення передачі зв’язку, радіо, телебачення, контрольно-вимірювальних та інших функцій для обслуговування споживачів і виробничих потреб.</p>
<p><strong>оснастка виробнича</strong> - різноманітні виробничі пристрої, приладдя (форми, штампи, касети, валки і т. ін.), необхідні для виготовлення продукції.</p>
<p><strong>механізми, інвентар та інше</strong> – засоби, які причетні до рухомого майна, але не можуть бути віднесені до вище згаданих. Машини та устаткування по умовах виготовлення поділяються на стандартизовані та нестандартизовані.</p>
<p><strong>стандартизовані об’єкти</strong> – всі машини та устаткування, що випускається серійно промисловістю.</p>
<p><strong>нестандартизовані об’єкти</strong> – машини та устаткування, виготовлені в разовому порядку по спеціальним замовленням.</p>
</body>
</html>